<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>dict.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>DictServlet</servlet-name>
        <servlet-class>mum.cs472.DictServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DictServlet</servlet-name>
        <url-pattern>/lookup</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
